In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("results_dw_acc.csv",delimiter = ";")

In [ ]:
df.head()

  Strategy   System           Problem Domain  Accuracy
0   1-shot  DaVinci  addPunctuation-1  dates       0.6
1   1-shot  DaVinci  addPunctuation-2  dates       0.4
2   1-shot  DaVinci    changeFormat-1  dates       0.4
3   1-shot  DaVinci    changeFormat-2  dates       0.0
4   1-shot  DaVinci    changeFormat-3  dates       0.2

In [ ]:
df.describe()

          Accuracy
count  1872.000000
mean      0.510764
std       0.415531
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

Questions to solve:

1. What are the top performance domains? What are the bottom performance domains? Why? (Check outputs?)

In [ ]:
df.groupby(['Domain']).mean().sort_values(by='Accuracy',ascending=False)

          Accuracy
Domain
emails    0.832060
freetext  0.606960
names     0.552885
phones    0.518981
dates     0.452679
times     0.404905
units     0.316458

2. Does performance improve with the number of parameters?

In [ ]:
df.groupby(['System']).mean().sort_values(by='Accuracy',ascending=False)

         Accuracy
System
DaVinci  0.609188
Curie    0.542058
Babbage  0.480983
Ada      0.410826

3. How much additional examples impact the performance?

In [ ]:
df.groupby(['Strategy']).mean().sort_values(by='Accuracy',ascending=False)

          Accuracy
Strategy
4-shot    0.589744
3-shot    0.564103
2-shot    0.529380
1-shot    0.359829

In [ ]:
#Mean accuracy percentage increase 

print("1-shot -> 2-shot: " + str(0.529380-0.359829))
print("2-shot -> 3-shot: " + str(0.564103-0.529380))
print("3-shot -> 4-shot: " + str(0.589744-0.564103))

1-shot -> 2-shot: 0.16955099999999995
2-shot -> 3-shot: 0.03472300000000006
3-shot -> 4-shot: 0.025641000000000025

4. Perform specific analysis to 'units' problems

In [ ]:
df.query('Domain=="units"').groupby(['Problem']).mean().sort_values(by='Accuracy',ascending=False)

             Accuracy
Problem
getUnits-2   0.737500
getUnits-1   0.725000
getValue-2   0.645833
getValue-1   0.551042
getSystem-2  0.203125
getSystem-1  0.177083
convert-2    0.088542
convert-4    0.036458
convert-1    0.000000
convert-3    0.000000

Here the performance difference between problems is extremely clear. It is very probable that GPT-3 doesn't understand that the task at hand is perform the calculation of changing between units (problem 'convert') plus the extra effort to expect GPT-3 to perform the calculation itself. Get the units system (problem 'getSystem') doesn't seem like a pretty demanding task, but once again maybe not super clear of what has to be done. Finally, 'getValue' and 'getUnits' makes sense to be performed easier as it is just staying with a part of the string.

In [ ]:
#Here only for DaVinci
df.query('Domain=="units" and System =="DaVinci"').groupby(['Problem']).mean().sort_values(by='Accuracy',ascending=False)

             Accuracy
Problem
getUnits-2   0.950000
getUnits-1   0.837500
getValue-2   0.750000
getValue-1   0.629167
getSystem-2  0.541667
getSystem-1  0.416667
convert-2    0.354167
convert-4    0.145833
convert-1    0.000000
convert-3    0.000000

5. Perform specific analysis to 'times' problems

In [ ]:
df.query('Domain=="times"').groupby(['Problem']).mean().sort_values(by='Accuracy',ascending=False)

              Accuracy
Problem
getTime-2     0.956250
appendTime-4  0.950000
appendTime-2  0.950000
getTime-1     0.900000
getHour-2     0.812500
appendTime-3  0.654167
getMinutes-1  0.648958
convert-2     0.573958
appendTime-1  0.472917
convert-1     0.385417
deleteTime-1  0.335417
getMinutes-2  0.300000
addTime-2     0.263542
deleteTime-2  0.258333
convert-5     0.242708
convert-3     0.211458
convert-9     0.186458
getHour-1     0.175000
convert-7     0.170833
convert-4     0.129167
convert-6     0.078125
addTime-1     0.037500
convert-8     0.012500
convert-10    0.012500

Why for example addTime-1 has worst performance than addTime-2?

In [ ]:
#Here only for DaVinci
df.query('Domain=="times" and System=="DaVinci"').groupby(['Problem','Strategy']).mean().sort_values(by='Accuracy',ascending=False)

                    Accuracy
Problem   Strategy
addTime-2 1-shot    0.800000
          3-shot    0.666667
          2-shot    0.500000
          4-shot    0.500000

6. Perform specific analysis to 'dates' problems

In [ ]:
df.query('Domain=="dates"').groupby(['Problem']).mean().sort_values(by='Accuracy',ascending=False)

                     Accuracy
Problem
changePunctuation-2  0.975000
getMonthName-2       0.950000
changePunctuation-1  0.934375
getWeekDay-1         0.875000
getDay-3             0.773958
addPunctuation-1     0.690625
getWeekDay-2         0.686458
getDay-2             0.640625
reduceMonthName-1    0.510417
addPunctuation-2     0.502083
getMonthName-1       0.475000
changeFormat-1       0.332292
changeFormat-4       0.326042
reduceMonthName-2    0.276042
getDay-1             0.268750
getDayOrdinal-2      0.177083
changeFormat-3       0.037500
changeFormat-2       0.031250
getDayOrdinal-1      0.028125
setFormat-2          0.015625
setFormat-1          0.000000